/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #00274c;
  --ifm-color-primary-dark: #002244;
  --ifm-color-primary-darker: #001f3d;
  --ifm-color-primary-darkest: #001733;
  --ifm-color-primary-light: #002c55;
  --ifm-color-primary-lighter: #00305e;
  --ifm-color-primary-lightest: #003a72;
  --ifm-background-color: #ffffff;
  --ifm-navbar-background-color: #FFCB05;
  --ifm-footer-background-color: #FFCB05;
  --ifm-navbar-link-color: #00274c;
  --ifm-footer-link-color: #00274c;
}

[data-theme='dark'] {
  --ifm-color-primary: #00274c;
  --ifm-color-primary-dark: #002244;
  --ifm-color-primary-darker: #001f3d;
  --ifm-color-primary-darkest: #001733;
  --ifm-color-primary-light: #002c55;
  --ifm-color-primary-lighter: #00305e;
  --ifm-color-primary-lightest: #003a72;
  --ifm-background-color: #001a33;
  --ifm-navbar-background-color: #FFCB05;
  --ifm-footer-background-color: #FFCB05;
}
